.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, #ffffff, #fff7ec);
}

.logo1{
    width: 150px;
    height: 100vh;
    padding-top: 0px;
    top: 562.8px;
    left: 129px;
}
.logo2{
    width: 462px;
    height: 728px;
}

.home-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    padding-left: 40px;
    width: 150%;
 
}

.heading{
    font-size: 46px;
    font-weight: 700;
    color: #000000;
}

.description{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-top: 10px;
}

.home-button{
    background-color: #FFBD59;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    width: 20%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.highlight-orange {
    color: orange;
    font-weight: bold;
}
