.footer-section {
  background-image: url("https://i.postimg.cc/T2ZHrjc2/Background-pattern-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px;
  position: relative;
  font-family: Arial, sans-serif;
  
}

.timeline {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #e5e7eb;
  position: relative;
  margin-top: 130px;
  margin-bottom: 130px;
}

.timeline-item{
  position: relative;
  flex: 1;
  text-align: center;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: #22c55e;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  z-index: 2;
}

.content {
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  color: #4b5563;
}

.content.top {
  top: -130px;
}

.content.bottom {
  top: 25px;
}

.content h4 {
  font-weight: bold;
  color: #111827;
  margin: 0.3rem 0;
}

.content p {
  font-size: 0.75rem;
  line-height: 1.4;
}

.icon {
  color: #f59e0b;
  font-size: 1rem;
}
